<!DOCTYPE html>
<html lang="en">

<head>
    {{- partial "head.html" . -}}
</head>

<body class="bg-gray-100 flex flex-col justify-between min-h-screen items-center">
    <div class="flex items-baseline justify-between w-full p-4 bg-white border-b">

        <div>
            <h1>Alex Carney</h1>
        </div>

        <div class="flex justify-center flex-grow">
            {{- block "headerbar" . }}{{- end }}
        </div>

        <nav class="flex space-x-4 items-between">
            <a href="/blog">Blog</a>
            <a href="/code">Code</a>
            <a href="/notes">Notes</a>
        </nav>
    </div>

    <main class="max-w-4xl w-full flex-grow mb-8">
        {{- block "main" . }}{{- end }}
    </main>

    {{- partial "footer.html" . -}}
    <!--  Hack to adjust the background color of code blocks  -->
    <script>
      const codeBlocks = document.querySelectorAll(".highlight pre")
      Array.from(codeBlocks).forEach(el => {
          el.style.backgroundColor = "#fdf6e3"
      })

      function copyText(text) {
          const textArea = document.createElement("textarea")
          textArea.value = text

          textArea.style.top = 0
          textArea.style.left = 0
          textArea.style.position = 'fixed'

          document.body.append(textArea)
          textArea.focus()
          textArea.select()

          document.execCommand('copy')
          document.body.removeChild(textArea)
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>


</body>

</html>
