{{define "main"}}
<div>
    {{ range $index, $element := .Paginator.Pages }}
    <article class="post">
        <header class="post-link">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="post-meta">
                {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
                {{ .ReadingTime }} min read -
                {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
                {{ .PublishDate.Format "Jan 2, 2006" }}
            </div>
        </header>
        <div class="post-summary">
            {{ .Summary }}
            {{ if .Truncated }}
            <a class="link-more" href="{{ .RelPermalink }}">More...</a>
            {{ end }}
        </div>
    </article>
    {{ end }}
</div>
{{end}}