{{define "headerbar"}}
<input class="max-w-lg px-2 py-1 m-auto border-2 rounded-md  w-72 lg:w-full focus:border-green-600" id="note-search"
  type="search" placeholder="Search... ">
{{end}}

{{define "main"}}
<div class="mt-8">
  <div id="note-results" class="grid grid-cols-1 gap-2 p-2 md:grid-cols-2">
    {{ range $index, $element := .Paginator.Pages }}
    <article id="{{ $element.Title | urlize }}"
      class="flex flex-col justify-between p-2 bg-white border shadow-sm hover:shadow-lg">
      <a class="" href="{{ .Permalink }}">
        <h2 class="text-xl text-green-600 flex gap-2 items-center">
          <span class="flex-shrink-0">
            {{ partial "icon.html" (dict "name" "bookmark" "styles" "w-6 h-6") }}
          </span>
          <span title="{{ .Title }}"
                class="whitespace-nowrap overflow-ellipsis overflow-hidden">
            {{ .Title }}
          </span>
        </h2>
        <div class="prose mt-4">
          {{ .Description }}
        </div>
      </a>

      <div class="post-meta">
        {{ partial "taglist" . }}
      </div>
    </article>
    {{ end }}
  </div>
</div>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
  let index

  fetch("/index.json")
    .then(res => res.json())
    .then(notes => {

      index = lunr(function () {
        this.ref('id')
        this.field("title")
        this.field('content')
        this.field('tags')

        notes.forEach(function (doc) {
          this.add(doc)
        }, this)
      })
    })

  const resultsList = document.getElementById("note-results")
  const searchBox = document.getElementById("note-search")
  searchBox.addEventListener('input', event => {
    let search = `*${event.target.value}*`
    let display = search === "" ? "flex" : "none"

    for (let i = 0; i < resultsList.children.length; i++) {
      resultsList.children[i].style.display = display;
    }

    if (search === "") {
      return
    }

    let results = index.search(search)
    console.log(results)
    results.forEach(res => {
      console.log(res.ref)
      let note = document.getElementById(res.ref)
      note.style.display = "flex"
    })

  })
</script>
{{end}}
