{%- extends "layout.html" %}
{% block body %}

<article class="p-4 prose-sm prose bg-white dark:bg-gray-800 border prose-md prose-emerald max-w-none dark:prose-invert dark:border-gray-600">
    {{ body }}
</article>

{% if next or prev %}
<nav class="mt-8">
    <ul class="flex flex-row justify-between">

        {# Even if there's no "Previous" link, we want the li node here so that "Next" is forced to the right #}
        <li {% if prev %} class="w-1/2 p-4 mr-2 bg-white dark:bg-gray-800 border hover:shadow-lg dark:border-gray-600" {% endif %}>
            {% if prev %}
            <a class="flex items-center justify-between h-full" href="{{ prev.link | e }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flex-shrink-0 w-8 h-8" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                <p class="ml-4 text-green-600">{{prev.title}}</p>
            </a>
            {% endif %}
        </li>
        {% if next %}
        <li class="w-1/2 p-4 ml-2 bg-white dark:bg-gray-800 border hover:shadow-lg dark:border-gray-600">
            <a class="flex items-center justify-between h-full" href="{{next.link | e }}">
                <p class="text-green-600">{{next.title}}</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flex-shrink-0 w-8 h-8 ml-4" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </a>
        </li>
        {% endif %}
    </ul>

</nav>
{% endif %}

{% if pagename in ablog %}
<div class="mt-8 pt-4 border-t dark:border-gray-600">
    <script src="https://giscus.app/client.js"
            data-repo="alcarney/blog"
            data-repo-id="MDEwOlJlcG9zaXRvcnk2Njk3NzM3MQ=="
            data-category="Comments"
            data-category-id="DIC_kwDOA_3-W84B_XOl"
            data-mapping="pathname"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-theme="preferred_color_scheme"
            crossorigin="anonymous"
            async>
    </script>
</div>
{% endif %}

{% endblock %}
