.note-search {
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px var(--foreground-faint);

    input {
        width: 100%;
        display: block;
    }
}

.note-collection {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    grid-auto-flow: dense;;
}

.note {
    padding: 1rem;
    background: var(--background-dark);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-summary {
    margin: 1rem 0;
}