{{/* HTML that represents the files+folders in the current directory. */}}
<div id="{{ .File.Dir }}" class="border rounded shadow-inset divide-y flex flex-col m-4">
  {{- if (.Scratch.Get "nested") }}
  <div class="flex items-center pl-1 py-2 hover:bg-green-50" onclick="chDir('{{ .Name }}')">
    <span>{{ partial "icon.html" (dict "name" "corner-left-up" "styles" "w-6 h-6") }}</span>
    <span class="ml-2">..</span>
  </div>
  {{- end }}
  {{- range where (where (readDir (printf "content/%s" .File.Dir)) ".Name" "ne" "index.md") ".IsDir" "eq" true }}
  <div class="flex items-center pl-1 py-2 hover:bg-green-50" onclick="chDir('{{ .Name }}')">
    <span>{{ partial "icon.html" (dict "name" "folder" "styles" "w-6 h-6") }}</span>
    <span class="ml-2">{{ .Name }}</span>
  </div>
  {{- end }}
  {{- range where (where (readDir (printf "content/%s" .File.Dir)) ".Name" "ne" "index.md") ".IsDir" "eq" false }}
  <div class="flex items-center pl-1 py-2 hover:bg-green-50" onclick="chDir('{{ $.File.Dir }}/{{ .Name }}')">
    <span>{{ partial "icon.html" (dict "name" "file" "styles" "w-6 h-6") }}</span>
    <span class="ml-2">{{ .Name }}</span>
  </div>
  {{- end }}
</div>

{{/* Recursively generate a representation of the sub-folders in the current dir. */}}
{{- range where (where (readDir (printf "content/%s" .File.Dir)) ".Name" "ne" "index.md") ".IsDir" "eq" true }}
{{ $dir := printf "%s%s" $.File.Dir .Name }}
{{ $.Scratch.Set "nested" true }}
{{ partial "dirlist.html" (dict "File" (dict "Dir" $dir) "Nested" true "Scratch" $.Scratch) }}
{{- end }}

{{/* Insert syntax highlighted contents of the files in the current dir.*/}}
{{- range where (where (readDir (printf "content/%s" .File.Dir)) ".Name" "ne" "index.md") ".IsDir" "eq" false }}
{{- $lang := index (split .Name ".") 1 }}
{{- $file := printf "%s/%s" $.File.Dir .Name | readFile}}
<div id="{{ $.File.Dir }}/{{ .Name }}" class="prose prose-lg max-w-none">
  {{- highlight $file $lang "linenos=table" }}
</div>
{{- end }}
