<footer class="items-baseline p-4 text-white bg-gray-700">
    <div class="flex justify-between">
        <div>
        </div>

        <div class="flex justify-between space-x-4">
            {{ range .Site.Params.social }}
            <a target="_blank" rel="noreferrer noopener" href="{{ .url }}">
                {{ partial "icon.html" (merge . (dict "size" "8")) }}
            </a>
            {{ end }}
        </div>

        <div>
            <!-- <h4>Credits:</h4>
            <ul>
                {{ range .Site.Params.credits }}
                <li>
                    <a target="_blank" rel="noreferrer noopener" href="{{ .url }}">
                        {{ .name }}
                    </a>
                </li>
                {{ end }}
            </ul> -->
        </div>
    </div>
</footer>