{{/* Load the file to be included from the `static/listings` folder */}}
{{ $file := printf "content/code/%s" (.Get "file") }}
{{ $file := $file | readFile }}

{{/* Support picking a subset of the lines */}}
{{- if (.Get "lines") -}}
  {{ $allLines := split $file "\n" }}

  {{ $linums := split (.Get "lines") "-" }}
  {{ $first := sub (int (index $linums 0)) 1 }}
  {{ $last := int (index $linums 1) }}

  {{ $lines := first (sub $last $first) (after $first $allLines) }}
  {{ .Scratch.Set "range" (delimit $lines "\n") }}
{{- else }}
  {{ .Scratch.Set "range" $file }}
{{- end }}

{{/* Infer the highlight language from the filename, but accept an override */}}
{{- if (.Get "lang") }}
  {{- .Scratch.Set "lang" (.Get "lang") }}
{{- else }}
  {{ $lang := .Get "file" }}
  {{ $lang := index (split $lang ".") 1 }}
  {{- .Scratch.Set "lang" $lang }}
{{- end }}

{{- highlight (.Scratch.Get "range") (.Scratch.Get "lang") "" }}
